{% extends "base.html" %}

{% block content %}
</br></br>
    {% for project in projects %}
        <b>&emsp;{{ project.name }}</b>
        &emsp;
        <a href="{% url 'close_project' pk=project.pk %}">Finalizar Projeto</a>

        {% for task in project.tasks.all %}
          </br></br>
          &emsp;
          {{ task.name }}
          &emsp;
          {{ task.percentage }} %
          &emsp;
          <a href="{% url 'close_task' pk=task.pk %}">Finalizar Tarefa</a>
          </br></br>
        {% endfor %}
    {% endfor %}

{% endblock content %}
