{% extends "base.html" %}

{% block content %}
</br></br>
<div class="text-center">
  Adicionar Projeto&emsp;
  <a href="{% url 'add_project' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
</div>
</br></br>
    {% for project in projects %}
        {% if project.closed %}
          <font color="green"><b>&emsp;{{ project.name }}</b></font>
        {% else %}
          <font color="#cccc00"><b>&emsp;{{ project.name }}</b></font>
        {% endif %}
        &emsp;
        <a href="{% url 'close_project' pk=project.pk %}">Finalizar Projeto</a>
        </br></br>
        {% for task in project.tasks.all %}
          &emsp;
          {% if task.percentage < 100 %}
          <font color="#cccc00">{{ task.name }}</font>
          {% else %}
          <font color="green">{{ task.name }}</font>
          {% endif %}
          &emsp;
          {{ task.percentage }} %
          &emsp;
          <a href="{% url 'close_task' pk=task.pk %}">Finalizar Tarefa</a>
          </br></br>
        {% endfor %}
    {% endfor %}

{% endblock content %}
